# Abaikan environment virtual Python
.venv/
venv/

# Abaikan semua data hasil pengecekan dan model
data/
models/

# Abaikan file sistem dan cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Abaikan file log dan hasil pengecekan tambahan
*.log
*.csv
*.txt

# Abaikan file editor (opsional)
.vscode/
.idea/
*.sublime-workspace
